
#title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 90px;
    text-align: center;
    text-shadow: 3px 3px 5px grey;
}

#image{
    height: auto;
    width: 700px;
    scale: 1/1;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#img-caption {
    text-align: center;
    font-size: large;
    color: white;
}
#main {
    background-image: linear-gradient(to right, rgb(89, 3, 3), rgb(206, 167, 167));
}

#img-div {

    height: auto;
    max-width: 100%;
}
#tribute-info {
    text-align: center;
    color: white;
}
#tribute-link {
    text-decoration: none;
    color:white;
    margin-left: 45%;
    margin-right: 45%;

}